<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 {
            text-align: center;
            border: 1px solid red;
            height:auto;
            background-color: rgb(48, 199, 166);
            height: 20%;
        }

        table{
            display: block;
            float: left;
        }
    </style>
</head>

<body>
    <h1>Html Render Test</h1>
    <table style="border: 1px solid black">
        <tr>
            <td>국어</td>
            <td>영어</td>
            <td>수학</td>
        </tr>
        <tr>
            <td>90</td>
            <td>70</td>
            <td>100</td>
        </tr>
    </table>



</body>

</html>