<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>차량 사고 조회</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
td{
 width: 15%;
}
</style>
<script>
function searchByCarNum(){
    let searchText = $('#searchtext1').val();
    let $target = $('#list');

    $.ajax({
        type: 'POST',
        url: '/api/search',
        dataType : 'json',
        data : {
            "searchText": searchText
        },
        success: function(item){
            console.log('success');
            console.log(item);

            //target update
            $target.empty();
            $target.append(`
            <tr>
                <td>1</td>
                <td>${item.carNumber}</td>
                <td>${item.owner}</td>
                <td>${item.model}</td>
                <td>${item.company}</td>
                <td>${item.numoOfAccident}</td>
                <td>${item.numOfOwnerChange}</td>
                <tr>
                `);
        }
    });
}
</script>

</head>

<body>


    <div class="jumbotron">
        <h1>Car List</h1>

        <form action="/carlist" name="regform" class="form-inline" method=POST>

            <input type="text" class="form-control" name="carNumber" value="" placeholder="차량번호">
            <input type="text" class="form-control" name="owner" value="" placeholder="소유자">
            <input type="text" class="form-control" name="model" value="" placeholder="모델">
            <input type="text" class="form-control" name="company" value="" placeholder="제조사">
            <input type="number" class="form-control" name="numOfAccident" value="" placeholder="사고횟수">
            <input type="number" class="form-control" name="numOfOwnerChange" value="" placeholder="소유자 변경횟수">

            <input type="submit" id="submit" class="btn btn-primary" value="제출">


        </form>
        <div>
            <input type="text" id="searchtext1" placeholder="차량번호">
            <button class="btn btn-primary" id="btn_search1" onclick="searchByCarNum();">검색</button>
        </div>
        <div>
            <input type="text" id="searchtext2" placeholder="제조사" value="">
            <button class="btn btn-primary" id="btn_search2" onclick="searchByCompany()">검색</button>
        </div>
    </div>
    <hr>
    <% if(locals.list) {%>
    <table>
        <tr>
            <th>차량번호</th>
            <th>소유자</th>
            <th>모델명</th>
            <th>제조회사</th>
            <th>사고횟수</th>
            <th>소유자변경횟수</th>

        </tr>
        <tbody id="list">
            <% for(let i=0; i<list.length; i++){ %>
            <tr>
                <td><%= list[i].carNumber %></td>
                <td><%= list[i].owner %></td>
                <td><%= list[i].model %></td>
                <td><%= list[i].company %></td>
                <td><%= list[i].numOfAccident %></td>
                <td><%= list[i].numOfOwnerChange %></td>
            </tr>
            <%}%>
                    </tbody>
    
    </table>
    <%}%>
    
</body>

</html>