<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- {userid:'aaaa', name:'황상욱',loop:5 -->
    <!-- 객체의 변수는 <%= %>로 받아야함 -->

    <h1>EJS Test</h1>
    <%= name %> 님 반갑습니다.
    당신의 id는 <%= userid %> 입니다.
    <ul>
    <% for(let i=0; i<loop; i++){%>

    <li>Loop <%= i%></li>
    <%}%>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button class="<%= title %>">전송</button>
        </ul>
</body>

</html>