<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <form action='/mysql/adduser3' method='POST'>
            <table style="border:1px solid black">
               <tr>
                  <td><input type="text" value="name" name="name"></td>
                  <td><input type="text" value="age" name="age"></td>
                  <td><input type="text" value="Pnumber" name="pnumber"></td>
               </tr>
               <tr>
                  <td><input type="text" value="id" name="id"></td>
                  <td><input type="password" value="password" name="password"></td>
                  <td><input type="password" value="password확인" name="passwordok"></td>
               </tr>
            </table>
         <input type="submit" value="회원가입">
         </form>

         <script>
         // if("password" !== "passwordok"){

         // }
         </script>
</body>
</html>